In [1]:
import pandas as pd

data = pd.read_csv('adult.data.csv')

In [2]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [12]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [36]:
data[data['native-country'] == 'Germany']['native-country'].value_counts() / data.value_counts().sum() * 100

Germany    0.420749
Name: native-country, dtype: float64

In [38]:
data[data['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [39]:
data[data['salary'] == '>50K']['age'].mean()

44.24984058155847

In [42]:
data[data['salary'] == '<=50K']['age'].std()

14.02008849082488

In [43]:
data[data['salary'] == '>50K']['age'].std()

10.519027719851826